---
import 'bootstrap/dist/css/bootstrap.min.css';
import '/src/css/style.css';
import SiteHeader from '../../components/SiteHeader.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <title>Pokedex | Selected Pokemon</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  </head>

  <body id="selectedPokemon">
    <SiteHeader />
    <main>
      <h1 class="title_selectedPokemon">Selected Pokemon</h1>
      <div class="pokemonId_selectedPokemon"></div>

      <div class="contentContainer contentContainer_selectedPokemon">
        <div class="loadingContainer">
          <p class="loadingText">Loading Pokemon...</p>
          <div id="loadingAnimation"></div>
        </div>

        <div class="errorMessageContainer">
          <div class="errorMessage"></div>
        </div>

        <div class="pokemonContainer"></div>
      </div>
    </main>

    <script src="../../js/components/activeSite.js"></script>
    <script src="../../js/components/displayError.js"></script>
    <script src="../../js/fetchData/fetch-selectedpokemon.js"></script>
  </body>
</html>
