---
import 'bootstrap/dist/css/bootstrap.min.css';
import '/src/css/style.css';
import SiteHead from '../../components/SiteHead.astro';
import SiteHeader from '../../components/SiteHeader.astro';
import Loading from '../../components/Loading.astro';
import ErrorMessage from '../../components/ErrorMessage.astro';
import SiteFooter from '../../components/SiteFooter.astro';
---

<!doctype html>
<html lang="en">
  <SiteHead title="Pokémon" description="Check out this selected Pokémon" />

  <body id="pokemon">
    <SiteHeader />
    <main>
      <Loading />
      <ErrorMessage />
      <div class="content">
        <h1 id="pokemonHeader"></h1>
        <span id="pokemonId"></span>

        <div class="pokemon-container" id="pokemonContainer"></div>
      </div>
    </main>
    <SiteFooter />
    <script src="../../js/index.js"></script>
    <script src="../../js/components/activeSite.js"></script>
    <script src="../../js/fetchData/pokemon.js"></script>
  </body>
</html>
