---
import 'bootstrap/dist/css/bootstrap.min.css';
import '/src/css/style.css';
import SiteHead from '../components/SiteHead.astro';
import SiteHeader from '../components/SiteHeader.astro';
import Loading from '../components/Loading.astro';
import ErrorMessage from '../components/ErrorMessage.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<!doctype html>
<html lang="en">
  <SiteHead
    title="Home"
    description="An online Pokédex for checking out all the Pokémons out there!"
  />
  <body id="index">
    <SiteHeader />
    <main>
      <Loading />
      <ErrorMessage />
      <div class="content">
        <h1 id="generationHeader"></h1>

        <div class="card-container" id="cardContainer"></div>
        <button
          type="button"
          class="load-more-pokémon-btn btn"
          id="loadMorePokeBtn">More Pokémons</button
        >
      </div>
    </main>
    <SiteFooter />
    <script src="../js/index.js"></script>
    <script src="../js/components/activeSite.js"></script>
    <script src="../js/components/displayError.js"></script>
    <script src="../js/fetchData/generation.js"></script>
  </body>
</html>
