<footer class="mt-auto">
  <div class="container-fluid text-center p-2">
    <div class="d-none d-lg-block p-2">
      <span>The data on this site is retrieved by using the pokéAPI.</span>
      <a href="https://pokeapi.co/" class="link link-underline-secondary"
        >Check it out here</a
      >
    </div>
    <div class="p-2">
      <div>This website was created by:</div>
      <a href="https://bhlweb.no" class="link-underline-secondary web-creators"
        >bhlweb.no</a
      >
      <span>&</span>
      <a
        href="https://michaelriver.dev"
        class="link-underline-secondary web-creators">michaelriver.dev</a
      >
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    div {
      background-color: var(--background-color-reverse);
      * {
        color: var(--text-color-reverse);
      }
      .web-creators {
        font-size: 1.2rem;
      }
    }
  }
</style>
