:root {
  --background-color: rgb(248, 248, 248);
  --background-color-reverse: rgb(35, 35, 35);
  --text-color: rgb(35, 35, 35);
  --text-color-reverse: rgb(248, 248, 248);
  --shadow-color: rgb(170, 170, 170);
  --shadow-color-hover: rgb(140, 140, 140);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(35, 35, 35);
    --background-color-reverse: rgb(248, 248, 248);
    --text-color: rgb(248, 248, 248);
    --text-color-reverse: rgb(35, 35, 35);
    --shadow-color: rgb(90, 90, 90);
    --shadow-color-hover: rgb(120, 120, 120);
  }
}

html {
  color-scheme: light dark;
}
