@import './global-styles.scss';
@import './color-schemes.scss';

.themeToggle-container {
  position: absolute;
  top: 2em;
  left: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle-theme {
  background: var(--theme-icon) no-repeat;
  background-size: cover;
  height: 2.5em;
  width: 2.5em;
}

.contentContainer {
  width: min(80em, 100% - 1rem);
  margin-inline: auto;
}

.loadingContainer {
  display: none;
  text-align: center;
  padding: 2em;
}

.loadingText {
  font-size: 1.5em;
  font-weight: bold;
}

/* --- Loading animation --- */
#loadingAnimation {
  width: 3em;
  height: 3em;
  margin: 0 auto;
  border: 10px solid #ffffff;
  border-top-color: #d85813;
  border-radius: 50%;
  animation: spin 1s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* --- --- */

.errorMessageContainer {
  display: none;
  padding: 1em;
  width: fit-content;
  margin: 0 auto;
}

.errorMessage {
  width: fit-content;
  border: 2px solid darkred;
  background-color: rgb(232, 190, 190);
  color: darkred;
  padding: 20px;
  font-size: 1.5em;
}

/* --- index.html --- */

/* Main */

.generation-title {
  text-align: center;
}

/* Container for all Pokemon-cards */
.pokeCardContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em;
}

.pokeCard {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5em;
  border-radius: 0.5em;
  gap: 1em;
  background-color: var(--card-color4);

  span {
    color: black;
  }
}

.pokeCard:hover {
  box-shadow: 0px 0px 0.5em black;
  transition: box-shadow 0.15s ease-in-out;
}

.pokeCard-background {
  position: absolute;
  z-index: 0;
  background: url(/src/images/pokeball-background.png) no-repeat;
  background-size: contain;
  margin-left: 0.5em;
  width: 4em;
  height: 4em;
  opacity: 0.2;
}

.pokeCard-image {
  position: relative;
  z-index: 1;
  width: 4em;
  height: 4em;
  margin: auto 0 auto 0.5em;
}

.pokeCard-text {
  display: flex;
  flex-direction: column;
}

.pokeCard-id {
  font-size: 0.875rem;
}

.pokeCard-name {
  font-size: 1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 375px) {
  .pokeCard-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .pokeCard-id {
    font-size: 0.875rem;
  }
  .pokeCard-name {
    margin-right: 5%;
    font-size: 1rem;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 550px) {
  .pokeCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }
  .pokeCard {
    display: flex;
    width: 100%;
    height: 6em;
  }
}

@media screen and (min-width: 678px) {
  .pokeCardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    padding: 0;
  }
  .pokeCard {
    flex-direction: column;
    text-align: center;
    width: 14em;
    height: 14em;
  }

  .pokeCard-background {
    margin-left: 0;
    margin-top: 0.5em;
    width: 7.5em;
    height: 7.5em;
  }

  .pokeCard-image {
    width: 7.5em;
    height: 7.5em;
    margin: 0 auto;
  }
  .pokeCard-text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .pokeCard-id {
    font-size: 1rem;
    margin: 0 auto;
  }

  .pokeCard-name {
    font-size: 1.25rem;
    margin: 0 auto;
  }
}

.showMorePokemonContainer {
  width: 100%;
  padding: 1em 0.5em;
}

.showMorePokemon-btn {
  width: 100%;
  height: 4em;
  margin: 0 auto;
  border-radius: 0.5em;
  text-transform: uppercase;
  background-color: var(--text-color);
  color: var(--text-color-reverse);
}

/* --- SELECTED POKEMON --- */

.pokemonContainer {
  background-color: var(--background-color);
  border-radius: 1em;
  margin-top: 7.5em;
}

.title_selectedPokemon {
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 3rem;
}

.pokemonId_selectedPokemon {
  font-size: 1.5rem;
}

.selectedPokemon-image {
  position: relative;
  top: -7.5em;
  width: 15em;
  height: 15em;
  margin: 0 auto;
  border-radius: 50%;
  padding: 2em;
  background-color: var(--background-color);
}

.selectedPokemon-typesContainer {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.selectedPokemon-type {
  padding: 0.75em 1.5em;
  width: 6em;
  text-align: center;
  color: white;
  border-radius: 0.75em;
}

.selectedPokemon-infoContainer {
  padding: 1em;
}

.selectedPokemon-infoSection {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.selectedPokemon-baseStats {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.stat-value-container {
  width: 100%;
  height: 2em;
  background: #ddd;
  margin-bottom: 1em;
}

.stat-value-progress {
  display: flex;
  align-items: center;
  height: 2em;
  background: #4caf50;
  border-radius: 0 0.5em 0.5em 0;
}

.stat-value-text {
  margin: 0 10% 0 auto;
}

.navContainerBottom {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5em;
  padding: 1em;
}

.navContainerBottom button {
  width: 15em;
  height: 4em;
}

@media screen and (min-width: 678px) {
  .selectedPokemon-infoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
